// Typography
$font-family: "Montserrat", sans-serif;
$line-height-base: 1.6;

// Font sizes
$menu-size: 1.1rem;
$title-size: 3rem;
$button-size: 1.2rem;

// Colors
$green: #87c232;
$green-darker: #618930;
$white: #ffffff;
$black: #222629;
$black-lighter: #474a4f;
$black-lightest: #6a6e71;
